{% include 'header.html' %}

<div class="content">
<span style="margin: 30px;">BOOKS CATALOG</span>
	<select class="select_auhtor" onchange=f(this.value)>
{% for auhtors in content_data.get_auhtor %}
    <option value="{{ auhtors.id_auhtor }}" class="option_auhtor"> {{ auhtors.surname }} </option>
{% endfor %}
    </select>
	
<div id='x'></div>
	
<div class="catalog">
{% for catalog in catalogs %}
	
            <div class="product">
				
                <a href="/catalog/?id={{ catalog.id }}" class="menu-link">
				  <div class="book-title">{{ catalog.title }}</div>
				  <img src="/images/{{ catalog.image }}" class="catalog-image">
			 <div class="price-book">{{ catalog.price }} &#8381;</div>
				</a>
		
				<form action="/basket/"  method='post'>
				<input type="submit" value="add" class="buy-button" name="getgood">
				<input type="hidden" name="id" value="{{ catalog.id }}">
				</form>
            </div>
{% endfor %}
</div>
</div>
{% include 'footer.html' %}

<script type="text/javascript" src="/js/jquery.js"></script>
<script>
function f(id_auhtor){
	$.ajax({
		type: "POST",
		url: "/",
		data: {id_auhtor}
	}).done(function(answer) {

		$("#x").html(answer);
		  });
	}

</script>