{% include 'header.html' %}

<div class="content-good">
	{% for good in content_data.goods %}
            <div class="product-good">
				  <div class="book-title-good">{{ good.title }}</div>
				<div class="catalog_image_description">
				   <img src="/images/{{ good.image }}" class="catalog-image-good">
				   <div class="desription-book">{{ good.description }}</div>
				</div>
				<div class="line"></div>
				<div class="price-book">{{ good.price }} &#8381;</div>
				 <a href="" class="catalog_buy-button" onclick="addBasket({{ good.id }})" id="a">add</a>
            </div>
	{% endfor %}
</div>

{% include 'footer.html' %}