<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <script type="text/javascript" src="/js/jquery.js"></script>
	<link href="/style/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
    <body>
		<header class="admin_header">
      <div class="admin-header">Admin Panel</div>
	<div class="button_admin_loggout"><a href="/admin/?loggout=exit" class="button_admin_loggout">loggout</a></div>
         </header>
		 

