<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/my.js"></script>
	<link href="/style/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
    <body>
		<header>
        <ul>
            {% for category in categories %}
            <li class="menu-li">
                <a href="{{ category.url }}" link="{{ category.id }}" class="menu-link">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
			{% for counts in count %}
		     <div class="basket"><span class="basket-span"><a href="" class="menu-link" id="amount_header">&#8381; : {{ counts.amount }}</a></span></div>
			{% endfor %}
         </header>
		
		 	<div id="overlay"></div>
            <div id="modal_form">
            <div id="modal_close">x</div>
				<div>Want to go to cart?</div>
				{% for counts in count %}
            <p>You ordered <span class="span_basket">{{ counts.count }}</span> items. Worth <span class="span_basket">{{ counts.amount }} &#8381;</span></p>
				{% endfor %}
             </div>


